@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Moo+Lah+Lah&display=swap');

.logoMain {
    font-size: 32px;
    font-family: 'Moo Lah Lah', cursive;
    margin-bottom: 0; }

.bg-french{
  background-color: #0072B5;
}

.ct-main{
  margin-top: 1vh;
}

.w-33{
  width: calc(100% / 3) !important;
}

